/*body{
    background-size: 80%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/280px-International_Pok%C3%A9mon_logo.svg.png);
}
col{
    image: hide_on_small_only;
}*/