body{
    background-size: 100%;
    /*background-image: url(https://images7.alphacoders.com/526/526236.jpg);*/
    background-color:white;
col{
    image: hide_on_small_only;
}
menu{
    /*image: size:20%*/
}
a{
    margin-top: auto;
    margin-left: auto;
    width: 20%;
}
p{
    color: white;
    font-size: large;
}
button{
 
}